:plain
  <!doctype html>
  <html>
    <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Sylvester</title>
    <link href="/style.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  
  <body>
    <div class="container">
    
      <div id="header">
        <div class="sub">
          <h1><a href="/">Sylvester - Vector and Matrix math for JavaScript</a></h1>
          <ul id="nav">
            <li id="nav-home"><a href="/#download">Download</a></li>
            <li id="nav-docs"><a href="/docs.html">API Docs</a></li>
          </ul>
        </div>
      </div>
      
      <div id="main">
        <div class="sub">
          
= yield

:plain
        </div>
      </div>
      
      <div id="footer">
        <div class="sub">
    
        </div>
      </div>
  
    </div>
  
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript"><!--
    _uacct = "UA-873493-3";
    urchinTracker();
    --></script>

  </body>
</html>
